body {
    padding-top: 60px;
    background-color: #ecf0f5;
}

.container-demo {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.navbar-demo {
    background-color:#3c8dbc;
    color:#ffffff;
    border-radius:0;
}

.navbar-demo .navbar-nav > li > a:visited,
.navbar-demo .navbar-nav > li > a:active {
    background-color:#3c8dbc;
}

.navbar-demo .navbar-toggle:hover, 
.navbar-demo .navbar-nav > li.active > a,
.navbar-demo .navbar-nav > li > a:hover {
    background-color:  #367fa9
}

.navbar-demo .navbar-toggle {
    color:#fff;
    border-color: #fff;    
}

.navbar-demo .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-demo .navbar-nav > li > a {
    color:#fff;
}

.navbar-demo .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:transparent;
}

.navbar-demo .navbar-brand {
    color:#fff;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
}