<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppController as vm">

<head>
    <meta charset="UTF-8">
    <title>{{::vm.title}}</title>
</head>

<body ng-cloak>

    <nav class="navbar navbar-demo navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="collapse = !collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{::vm.title}}</a>
            </div>
            <div class="navbar-collapse collapse" ng-class="{in : collapse}">
                <ul class="nav navbar-nav">
                    <li ng-repeat="menu in vm.tabs" ng-class="{active: $index === vm.active}">
                        <a href="#{{menu.title | titlecase}}" ng-click="vm.active = $index">{{menu.title}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li><a href="#">{{vm.version}}</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container container-demo" fit-to-windows-height>
        <ng-include src="vm.tabs[vm.active].template"></ng-include>
    </div>

    <footer class="footer">
        <div class="container text-center">
            <strong>{{::vm.copyright}}</strong> All rights reserved.
        </div>
    </footer>

</body>

</html>